<<<<<<< HEAD

*{
  box-sizing: border-box;
  
}

body {
  
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
h3{
  font-weight: bold;
}
.forecast{
  
  font-size: 0.9em;
}
span{
  font-size: 1em;
}
li:hover{
  background-color: lightslategray;
  text-decoration: underline;
=======
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
>>>>>>> main
}
